.txt-zentratu {
    text-align: center;
    color: rgb(46, 41, 117);
}


ion-title {
    background-color: rgb(46, 41, 117); 
    padding: 20px;
    color: white;
    text-align: center;
  }
  
.botoia {
  width: 70%;
  position: fixed;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 25px 0px;
  background-color: rgb(46, 41, 117); 
}

.clr-gorria {
    color: red !important;
}